div{
    background-color: lightblue;
    color:rgb(2, 16, 11);
    font-size: 20px;
    text-align: center;
    font-family: cursive;
    width: 400px;
    height: 200px;
    
}

h1{
    color: red;
    font-size: 30px;
    
}
